body {
  background-color: rgb(241, 143, 250);
}
nav {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
}
nav ul {
  width: 50%;
  margin-left: -117px;
  display: flex;
  align-content: space-around;
}
nav li {
  margin: 5px;
  list-style-type: none;
}
nav a {
  color: rgb(10, 181, 232);
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}
nav ul li a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bolder;
}
header {
  background-color: rgb(14, 16, 15);
  text-align: center;
  width: 100%;
}
footer {
  background-color: rgb(14, 16, 15);
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
}
h1 {
  justify-content: center;
  display: flex;
  margin-bottom: 1px;
  color: rgb(10, 181, 232);
  font-size: 5rem;
}
h1 img {
  height: 8rem;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ytframe {
  width: 50%;
  height: 50vh;
  margin: 20px 40px;
  text-align: center;
}

.maps {
  width: 50%;
  height: 50vh;
}
.mapcontainer {
  margin: 20px 40px;
  display: flex;
}
p {
  width: 50%;
  justify-content: center;
  align-content: center;
  margin: 0 10%;
  font-size: xx-large;
  font-weight: bolder;
}

.p1 {
  align-self: flex-end;
  display: flex;
}

.form {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.earrings {
  width: 35%;
  height: auto;
  display: flex;
  margin: 10px 30px;
}
.racing {
  width: 35%;
  height: auto;
  margin: 10px 30px;
  align-self: flex-end;
  display: flex;
}
.welding {
  width: 35%;
  height: auto;
  margin: 10px 30px;
  display: flex;
}
input {
  font-family: cursive;
  font-weight: bolder;
  margin-top: 10px;
  padding: 10px;
}
textarea {
  font-family: cursive;
  font-weight: bolder;
  height: 90px;
  margin-top: 10px;
  padding: 10px;
}
button {
  font-family: cursive;
  font-weight: bolder;
  font-size: larger;
  margin-top: 10px;
  padding: 15px;
}
